.App {
  margin-top: 20px;
}

.profile {
  margin: 0 auto;
  width: 300px;
  border-radius: 5px;
  background-color: white;
}

.description {
  padding: 30px;
}

.avatar {
  margin: 0 auto;
  background-color: grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.tag {
  text-align: center;
  color: #919090;
  margin-bottom: 10px;
}

.location {
  text-align: center;
  color: #919090;
}

.stats {
  display: flex;
  border-radius: 45px 45px 45px 5px;
}

.statsItem {
  background-color: #c4efff;
  padding: 10px;
  border-right: 1px solid black;
  display: flex;
  width: calc(100% / 3);
  flex-direction: column;
}

.statsItem:last-child {
  border-right: none;
}

.label {
  text-align: center;
  margin-bottom: 10px;
  color: #919090;
}

.quantity {
  text-align: center;
  font-weight: 800;
}